#modal-backdrop {
  background-color: var(--dark-background-dark-gray) !important;
}

#loginSignup {
  width: 40rem;
  background-color: var(--dark-background-light-gray);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#loginSignup-top-title {
  color: var(--dark-font-light-gray);
  text-align: center;
  padding: 5rem 0;
  font-size: 4rem;
}

#loginSignup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#loginSignup-form input {
  background-color: var(--dark-background-dark-gray);
  border: none;
  outline: none;
  font-family: "Lato";
  color: var(--dark-font-light-gray);
  width: 80%;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#loginSignup-form input::placeholder {
  color: var(--dark-font-medium-gray);
}

#loginSignup button, #loginSignup-bottom-title-signup-button {
  font-family: "Lato";
  background-color: var(--dark-background-dark-gray);
  border: none;
  color: var(--dark-font-light-gray);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#loginSignup-bottom-title {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.1rem;
  color: var(--dark-font-light-gray);
}

#loginSignup-bottom-title-signup-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}
