:root {
    --dark-background-light-gray: #2a2c30;
    --dark-background-medium-gray: #23252a;
    --dark-background-dark-gray: #1c1e22;
    --dark-font-light-gray: #dcddde;
    --dark-font-medium-gray: #b9bbbe;
    --dark-font-dark-gray: #72767d;
    --dark-font-link: #00aff4;
  }